.question_body{
    background: rgba(96, 71, 236, 0.1);

}

.question_title{
    color: #6047EC;
    font-weight: 600;
    font-size: 24px;
     

}
.question_pra{
    margin-top: 20px;
    font-size: 16px;
     color: #111111;

}