.card_blog {
    width: 845px;


}

.athour-area img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card_title{
    color: #111111 !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 30px !important;  
}
.author_name{
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
color: #111111;

}
.mark_read{
    font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;
color: #6047EC;

}
